body {
	/* 
	font-family: 'Merriweather', serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Raleway', sans-serif;
	 */
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;

	color: #373a39;
	background-color: #fff;
}

.container {
	max-width: 1190px;
	padding: 0 10px;
	margin: 0 auto;
}

.title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 60px;
	line-height: 75px;
	letter-spacing: -1.65px;

	color: #241212;

	position: relative;

	padding-bottom: 18px;

	align-self: flex-start;
}

.title:after {
	content: '';
	position: absolute;

	width: 60px;
	height: 4px;

	bottom: 0;
	left: 0;

	background-color: #fcbb08;
}

/* 
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
 */

/* ================= 
	header__top
  =================== */
.header__top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

	background-color: #fff;
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	padding-bottom: 29px;
}

.menu__btn {
	display: none;
}

.menu__list {
	display: flex;
}

.menu__list-item + .menu__list-item {
	margin-left: 33px;
}

.menu__list-link {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.6px;
	font-weight: 700;

	text-transform: uppercase;
	text-decoration: none;

	color: #373a39;

	padding: 0 9px 9px;

	border-bottom: 1px solid transparent;

	transition: all 0.2s linear;
}

.menu__list-link:hover {
	border-bottom-color: #fcbb08;
}

/* ================= 
	header__content
  =================== */
.header__content {
	background: url(../img/header/bg.jpg) center no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 93px;
}

.header__content-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	min-height: calc(100vh - 93px);
}

.header__title {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 72px;
	line-height: 88px;
	font-weight: 500;
	color: #fff;

	padding-top: 130px;

	margin-top: auto;
	margin-bottom: 19px;
}

.header__subtitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2.7px;
	text-align: center;

	color: #fcbb08;

	margin-bottom: auto;
}

.header__icon {
	margin-bottom: 62px;
}

/* ================= 
	about
  =================== */
.about {
	padding: 150px 0 144px;
}

.about__inner {
	display: flex;
	justify-content: space-between;
}

.about__text p {
	max-width: 700px;
}

.about__text p + p {
	margin-top: 25px;
}

/* ================= 
	expertise
=================== */
.expertise {
	padding: 140px 0 160px;
}

.title__expertise {
	margin-bottom: 90px;
}

.expertise__inner {
	display: flex;

	margin-bottom: 110px;
}

.expertise__info {
	width: 370px;

	margin-right: 30px;
	margin-top: 10px;

	flex: none;
}

.expertise__info-item {
	padding: 2px 0 8px;

	font-size: 11px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 1px;

	text-transform: uppercase;

	color: #1d1d1d;

	border-top: 2px solid #1d1d1d;

	position: relative;
}

.expertise__info-item span {
	display: block;

	position: absolute;
	right: 0;
	top: 0;

	margin-right: 7px;
}

.expertise__info-item span::before {
	content: '';

	position: absolute;
	right: -7px;
	top: -2px;

	height: 2px;
	width: 100%;

	background-color: #f0f0f0;
}

.expertise__text {
	max-width: 770px;
}

.expertise__text p + p {
	margin-top: 25px;
}

.expertise__items {
	display: flex;
	justify-content: space-between;
}

.expertise__item {
	flex-basis: 370px;
	padding-left: 85px;

	position: relative;
}

.expertise__item::before {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	width: 50px;
	height: 50px;
}

.expertise__item:nth-child(1)::before {
	background-image: url(../img/expertise/icon_1.svg);
}
.expertise__item:nth-child(2)::before {
	background-image: url(../img/expertise/icon_2.svg);
}
.expertise__item:nth-child(3)::before {
	background-image: url(../img/expertise/icon_3.svg);
}

.expertise__item-title {
	font-family: 'Raleway', sans-serif;
	line-height: 20px;
	font-weight: 700;
	letter-spacing: 4.3px;

	text-transform: uppercase;
	color: #333;

	margin-bottom: 14px;
}

.expertise__item-text {
	color: #777;
}

/* ================= 
	magic
  =================== */
.magic {
	background: url(../img/magic/dog.jpg) left no-repeat;
	background-size: 50%;
	background-position: left 42%;

	background-color: #f6f8fa;
}

.title__magic {
	margin-bottom: 67px;
}

.magic__inner {
	max-width: 470px;
	margin-left: auto;
}

.magic__text p + p {
	margin-top: 25px;
}

/* ================= 
	porfolio
  =================== */
.portfolio {
	padding: 140px 0 165px;
}

.portfolio__top {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 103px;
}

.portfolio__filter-btn {
	margin-right: 65px;
}

.portfolio__btn {
	background-color: transparent;
	padding: 0;
	border: none;

	font-weight: 600;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2px;
	text-transform: uppercase;

	color: #333;

	outline-color: #fcbb08;

	border-bottom: 1px solid transparent;

	padding: 0 4px 5px;

	cursor: pointer;

	transition: all 0.2s linear;
}

.portfolio__btn:hover {
	border-bottom-color: #fcbb08;
}

.mixitup-control-active {
	border-bottom: 1px solid #fcbb08;

	transition: all 0.2s linear;
}

.portfolio__btn + .portfolio__btn {
	margin-left: 25px;
}

.portfolio__content {
	column-count: 4;
	column-gap: 22px;

	margin-bottom: 72px;
}

.portfolio__item {
	position: relative;
}

.portfolio__item + .portfolio__item {
	margin-top: 22px;
}

.portfolio__item img {
	width: 100%;
}

.portfolio__item-info {
	display: flex;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100%;

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;

	text-transform: uppercase;
	text-align: center;

	background-color: #4c4a4a;
	border: 12px solid #666565;

	color: #fff;

	justify-content: center;
	align-items: center;

	opacity: 0;

	transition: all 0.2s linear;
}

.portfolio__item:hover .portfolio__item-info {
	opacity: 1;
}

.portfolio__add {
	display: block;

	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 1.2px;

	color: #242121;

	text-align: center;
	text-transform: uppercase;

	margin-bottom: 130px;
	padding: 42px 15px 42px;

	background-color: #f6f8fa;
}

.blockquote {
	max-width: 650px;
	margin: 0 auto 148px;

	text-align: center;

	font-family: 'Merriweather', serif;
	font-style: italic;
	font-weight: 300;
	font-size: 18px;
	line-height: 36px;

	color: #242121;
}

.blockquote__author {
	display: block;

	text-align: center;

	font-family: 'Merriweather', serif;
	font-style: italic;
	font-weight: 300;
	font-size: 14px;
	line-height: 32px;

	color: #9e9e9e;

	margin-top: 50px;
}

.portfolio__video {
	background: url(../img/portfolio/video/bg.jpg) center no-repeat;
	background-size: cover;

	height: 324px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 165px;
}

.portfolio__numbers {
	display: flex;
	justify-content: space-around;
}

.portfolio__numbers-item {
	margin-bottom: 9px;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 73px;

	text-align: center;

	color: #242121;
}

.portfolio__numbers-item span {
	display: block;

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;

	text-align: center;

	color: #333;
}

/* ================= 
	slider-blog
  =================== */
.slider-blog {
	background-color: #f8f6fa;
	padding: 115px 0;
}

.slider-blog__inner {
	position: relative;
}

.slick-prev {
	background: url(../img/slider/arrow-left.svg) center center no-repeat;

	left: -95px;
}

.slick-next {
	background: url(../img/slider/arrow-right.svg) center center no-repeat;

	right: -95px;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 3;

	font-size: 0;
	background-color: transparent;
	border: none;

	padding: 0;

	width: 35px;
	height: 35px;

	transform: translateY(-150%);

	cursor: pointer;
}

.slick-dots {
	display: flex;
}

.slick-dots li + li {
	margin-left: 13px;
}

.slick-dots button {
	background-color: #242121;
	opacity: 0.4;

	width: 6px;
	height: 6px;

	border: none;
	border-radius: 50%;

	font-size: 0;

	padding: 0;
}

.slick-active button {
	opacity: 1;

	width: 10px;
	height: 10px;

	transform: translate(0, -2px);
}

.slider-blog__item {
	padding: 190px 0;
}

.slider-blog__item-title {
	display: inline-block;

	font-weight: 700;
	font-size: 36px;
	line-height: 52px;
	color: #242121;

	max-width: 705px;

	margin-bottom: 10px;
}

.slider-blog__item-description {
	max-width: 585px;
}

/* ================= 
	team
  =================== */
.team {
	padding: 120px 0 130px;
}

.title__team {
	margin-bottom: 102px;
}

.team__inner {
	display: flex;
	justify-content: space-between;
}

.team__item + .team__item {
	margin-left: 30px;
}

.team__item-img {
	width: 100%;
	margin-bottom: 35px;
}

.team__item-name {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;

	text-align: center;

	color: #333;

	margin-bottom: 12px;
}

.team__item-prof {
	text-align: center;

	font-size: 12px;
	line-height: 16px;
}

/* ================= 
	plan
  =================== */
.plan {
	padding: 144px 0 162px;

	background-color: #f6f8fa;
}

.title__plan {
	margin-bottom: 91px;
}

.plan__inner {
	display: flex;
	justify-content: space-between;
}

.plan__item {
	background-color: #fff;

	padding: 24px 0 53px;

	width: 370px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.plan__item + .plan__item {
	margin-left: 30px;
}

.plan__item-title {
	margin-bottom: 8px;
	margin-left: 25px;

	font-weight: 700;
	font-size: 16px;
	line-height: 22px;

	align-self: start;
}

.plan__item-price {
	position: relative;

	font-size: 80px;
	font-weight: 300;
	line-height: 109px;

	margin-bottom: 51px;
}

.plan__item-price:before {
	content: '$';

	position: absolute;
	top: 50%;
	left: -28px;

	font-size: 40px;
	font-weight: 300;
	line-height: 54px;

	transform: translateY(-70%);
}

ul.plan__item-list {
	text-align: center;

	margin-bottom: 69px;
}

.plan__list-item {
	font-size: 16px;
	line-height: 22px;
}

.plan__list-item + .plan__list-item {
	margin-top: 30px;
}

.plan__item-link {
	color: #242121;

	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: 700;
	letter-spacing: 1.2px;
}

/* ================= 
	partners
  =================== */
.partners {
	padding: 69px 0 94px;
}

.partners__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* ================= 
	connection
  =================== */
.connection {
	padding: 145px 0 162px;
	background: url(../img/form/map.jpg) right 45% no-repeat;
	background-size: 40%;
}

.title__connection {
	margin-bottom: 80px;
}

.form {
	max-width: 570px;
}

.form__input,
.form__textarea {
	display: block;
	width: 100%;

	border: none;
	border-bottom: 2px solid #373a39;

	padding: 16px 0;
	margin-bottom: 16px;

	outline: none;
}

.form__textarea {
	margin-bottom: 0;
}

.form__input:focus,
.form__textarea:focus {
	box-shadow: 0 0 1px 0;
}

.form__input::placeholder,
.form__textarea::placeholder {
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 3.7px;

	text-transform: uppercase;

	color: #888;
}

.form__textarea {
	min-height: 140px;
	resize: none;
}

.form__btn {
	margin-top: 40px;
	padding: 17px 70px 15px;

	background-color: #242121;
	color: #fff;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 2px;

	text-transform: uppercase;
	text-align: center;

	border: none;

	cursor: pointer;

	transition: all 0.2s linear;
}

.form__btn:hover {
	box-shadow: 0 4px 10px 8px rgba(211, 211, 211, 1);
}

/* ================= 
	footer
  =================== */
.footer__top {
	padding: 110px 0 60px;
	background-color: #333;
	text-align: center;
}

.footer__logo {
	display: inline-block;

	padding: 0 35px 4px;
	border-bottom: 2px solid #fcbb08;

	margin-bottom: 70px;
}

ul.footer__social {
	display: flex;
	justify-content: center;

	margin-bottom: 65px;
}

.footer__social-list + .footer__social-list {
	margin-left: 30px;
}

.footer__social-link {
	text-decoration: none;
	text-transform: uppercase;

	color: #fff;

	font-family: 'Montserrat';
	font-weight: 300;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 4px;
}

.footer__contact {
	color: #fff;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 32px;

	display: block;

	margin-bottom: 57px;
}

.footer__contact a {
	display: block;
	color: #fff;
}

.footer__contact a + a {
	margin-top: 5px;
}

.top-btn {
	display: inline-block;
}

.address {
	font-style: normal;

	margin-bottom: 5px;
}

.footer__copy {
	padding: 43px 0 41px;

	text-align: center;

	background-color: #2a2c2b;
}

.footer__copy-text {
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;

	color: #ccc;
}

/* ================= 
	header__top
  =================== */
/* ================= 
	header__top
  =================== */
/* ================= 
	header__top
  =================== */
/* ================= 
	header__top
  =================== */
/* ================= 
	header__top
  =================== */
